.Rproj.user
.Rhistory
.RData
.Ruserdata
/extdata/dataCovid_Clean.csv
/extdata/results_simu

lsEDSOpen.rds

ls_resultsCurta.rds
ls_resultsCurtadf_pred.rds
ls_resultsCurtadf_varimp.rds
ls_resultsCurtadf_groupVarimp.rds

ls_resultsSkipCluster.rds
ls_resultsSkipClusterdf_pred.rds
ls_resultsSkipClusterdf_varimp.rds
ls_resultsSkipClusterdf_groupVarimp.rds

ls_resultSensitivitySidep.rds
ls_resultSensitivitySidepdf_pred.rds
ls_resultSensitivitySidepdf_varimp.rds
ls_resultSensitivitySidepdf_groupVarimp.rds

lsResultBestModel.rds
lsResultBestModeldf_groupVarimp.rds
lsResultBestModeldf_varimp.rds
lsResultBestModeldf_pred.rds
lsCHUDashboardPredictions.rds

dfPredBoot.rds
dfVarImpBoot.rds
dfFrechetPredBoot.rds
dfInterPredBoot.rds
precompute_for_report.rdata
Frechet_dfPred.rds
dfEdsvsNoeds.rds
dfEdsvsNoedsVarImp.rds
dfPred.rds
dfPredArticle.rds
dfVarimp.rds
dfVarimpArticle.rds
dfInteraction_complementary.rds

/extdata/chu_specific_model/chu_dashboard/animatedPlot/
/extdata/chu_specific_model/chu_dashboard/data_for_report.rdata
data_for_report.rdata

movie14d.mp4
movie7d.mp4
